// Nextflow 配置文件 - 兼容旧版本



profiles {
    docker {
        docker.enabled = true
        
        process {
            withName: qualityControl {
                container = 'hanyuefuqu8/scexpr-qc:v1.0' 
            }
            withName: CHOIR_analysis {
                container = 'hanyuefuqu8/scexpr-choir:v1.0' 
            }
            withName: Metaneighbor_analysis {
                container = 'hanyuefuqu8/scexpr-metaneighbor:v1.0' 
            }
            withName: Integrate_analysis {
                container = 'hanyuefuqu8/scexpr-integrate:v1.0' 
            }
            withName: Cellrank {
                container = 'hanyuefuqu8/scexpr-integrate:v1.0'  
            }
            withName: Memento {
                container = 'hanyuefuqu8/scexpr-integrate:v1.0'   
            }
            withName: genes2genes {
                container = 'hanyuefuqu8/scexpr-g2g:v1.0'
                // docker.runOptions = '-u $(id -u):$(id -g) --mount type=bind,source=$PWD,target=$PWD'  
            }
        }
    }
    
    // local {
    //   process.executor = 'local'  // 本地执行不使用容器
    // }
}




params {
    // dataset_dir = "datasets/treatment/split_10x_outputs"
    dataset_dir = "datasets/time-series/10x/"
    // sample_info = "datasets/treatment/split_10x_outputs/sample_info.csv"
    sample_info = "datasets/time-series/10x/sample_info.csv"
    sct = 0
    mito_genes = "reference/AraMitoGene.lst"
    type="time-series"
    control_value="none"
    treat_value="none"
    cluster_threshold = 0.9
    specified_cluster = "cluster_3"
    outdir = "./results"
}


